/*#80e0ff
#bff0ff
#00516b 
#005799 */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Habibi', serif;
}
body{
	background: rgba(0, 0, 0, 0.09) url("./img/bg.jpg")  ;
	background-size:cover;
	height:auto;
	background-blend-mode: darken;
    display:flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;

}

/* .loader{
	position: fixed;
	top: 0;
	left: 0;
	background: #80e0ff;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.disppear{
	animation: boubi 5s forwards;
}

@keyframes boubi{
    100%{
    	opacity: 0;
    	visibility: hidden;
    }
} */



.section-title{
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 30px;
	color:#80e0ff ;
}
.app-title  {
	text-align: center;
	padding: 5px;
	margin: 35px 400px;
	font-size:  2.5em;
	color:black;
	
   
  
  }

.section-title{
    text-align: center;
    font-size: 36px;

}

.container{
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 2000px;
	flex-wrap: wrap;
}


.container .card{
	position: relative;
	width: 250px;
	padding: 15px;
	margin: 15px;
	background: #005799;
	border-radius: 15px;
}

.container .card .image img{
	width: 240px;
	height: 150px;
	padding-right: 20px;
	border-radius: 15px;
}

.container .card::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid #80e0ff;
    border-right: 20px solid #80e0ff;
    border-top-right-radius: 10px;
}

.container .card.active::before{
	    border-top: 20px solid #005799;
        border-right: 20px solid #005799;
}


.container .card .content {
	position: relative;
	height: 215px;
	overflow: hidden;
}

.container .card.active{
	height:auto;
	width:1000px;
	background-color:#80e0ff;
}

.container .card.active .content{
    height: auto;
    width: 950px;
}

.container .card.active .image img{
    width: 700px;
	height: 250px;
	padding-left:270px;
	padding-top:20px;
}

.container .card .content::before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 150px;
	background: linear-gradient(transparent,#005799);

}

.container .card.active .content::before{
	display: none;
}

.container .card .content h1{
	color: #80e0ff;
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 10px;
}

.container .card.active .content h1{
   font-size:2.5rem;
   color:#005799;
}

.container .card .content p{
	color: white;
	font-weight: 300;
}
.container .card.active .content p{
    color: #005799;
}

.container .card .more{
	position: relative;
	padding: 10px 15px;
	background: #80e0ff;
	margin-top: 15px;
	display: inline-block;
	cursor: pointer;
	border-radius: 6px;
	text-transform: uppercase;
	color: #005799;
	font-weight: 500;
	font-size: 12px;
	letter-spacing: 2px;
}
.container .card.active .more{
	background: #005799;
	color:#80e0ff;
}
.container .card .more::before{
	content: 'Read more';
}

.container .card.active .more::before{
	content: 'Read less';
}

.container .card .rem{
   text-align: center;
}
.containernav {
	width: 100%;
	height: 100%;
	background: #000428;
	background: -webkit-linear-gradient(to right, #004e92, #000428);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #004e92, #000428);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	background-size: 400% 400%;
	position: relative;
}

.nav-bar {
	position: absolute;
	background-color: #80dfff91;
	top: 0;
	right: 100%;
	height: 100vh;
	width: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: position 2.9s;
	-webkit-transition: position 2.9s;
	-moz-transition: position 2.9s;
	-ms-transition: position 2.9s;
	-o-transition: position 2.9s;
}
a {
display:block;
text-align: center;
cursor: pointer;
 margin: 0px;
padding: 0px; 
}
 a img{
width: 25px;
}

.toggle {
	left: 0;
	box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);

}

.toggle-menu {
	position: absolute;
	top: 30px;
	left: 60px;
	width: 50px;
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
     padding: 2px 2px 2px 1px;
	cursor: pointer;
	
}


.toggle .toggle-menu {
 opacity: 0.2;
  
}

.nav-list {
	list-style: none;
  
}

.nav-list-item {
	text-align: center;
	padding: 10px 0;
}
@media(max-width: 1024px){
	html{
		overflow-x: hidden;
	}
	.container{
		display: flex;
		flex-direction: column;
		margin:100px auto ;
	}
	.container .card.active{
	    position: relative;
	    width:400px;

    }
	.container .card.active .content{
		height: auto;
        width: 350px;
	}
    .section-title{
        padding-top: 22px;
        font-size: 30px;

     }
     .container .card.active .image img{
          width: 370px;
	      height: 200px;
	      padding-left:20px;
	      padding-top:20px;
	      padding-bottom: 25px;
         }
} 
@media(max-width: 767px){
	html{
		overflow-x: hidden;
	}
	.container .card.active{
	    width:400px;
	}

	.container .card.active .content{
		height: auto;
        width: 350px;
	}
    .section-title{
        padding-top: 22px;
        font-size: 30px;

    }
    .container .card.active .image img{
          width: 370px;
	      height: 200px;
	      padding-left:20px;
	      padding-top:20px;
	      padding-bottom: 25px;
    }
	.container{
		display: flex;
		flex-direction: column;
		margin:100px auto ;
	}
}
/* @media(max-width: 1124px){
	.container .card{
        margin: 70px;
	}

	.container .card.active{
	    width:400px;
	}

	.container .card.active .content{
		height: auto;
        width: 350px;
	}
    .section-title{
        padding-top: 22px;
        font-size: 30px;

    }
    .container .card.active .image img{
          width: 370px;
	      height: 200px;
	      padding-left:20px;
	      padding-top:20px;
	      padding-bottom: 25px;
    }
} */







